extends ../shared/template
block content
  h1 Coin bro
  input#name(type='text' )
  button#newGame Start Your Engine
  button#flip Flip Coin
  ul#game
    li#person
    li#gameID
    li#heads
    li#tails
